recursive-include subclrschm *.py
recursive-include docs *.md *.png *.gif *.js *.css *.html
recursive-include subclrschm/lib/gui/data *.png *.icns *.ico *.js *.css
recursive-include tests *.py
recursive-include requirements *.txt
recursive-include tools *.py
include .dictionary
include setup.py
include setup.cfg
include tox.ini
include gui.fbp
include mkdocs.yml
include LICENSE
include README.md
include MANIFEST.in
